
@media only screen and (min-width: 2561px) {
    .bento-box{
        height: 700px;
        gap: 1em;
    }

    .grid-header {
        max-width: 2050px !important;
    }
    .no-threads-message {
        max-width: 2050px !important;
    }

    .col-left {
        max-width: 1800px !important;
    }

    .col-right {
        max-width: 800px !important;
    }

    .grid-item {
        width: 100%;
        max-width: 2050px !important;
        padding: 12px;
        gap: 8px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .bento-box {
        height: 600px;
        gap: 0.8em;
    }

    .grid-header {
        max-width: 1650px !important;
        height: 60px;
    }

    .no-threads-message {
        max-width: 1650px !important;
    }

    .col-left {
        max-width: 1400px !important;
    }

    .col-right {
        max-width: 668px !important;
    }

    .grid-item {
        width: 100%;
        max-width: 1650px !important;
        padding: 12px;
        gap: 8px;
    }
    
}


@media only screen and (max-width: 1440px) {
    .bento-box {
        gap: 0.7em;
        height: 550px;
        transform: scale(0.97);
    }
    .grid-header {
        max-width: 1200px !important;

        height: 60px;
    }

    .dropdown-content,
    .dropdown-content.open {
        max-width: 1200px !important;
    }

    .no-threads-message {
        max-width: 1200px !important;
    }

    .col-left {
        max-width: 1000px !important;
    }

    .col-right {
        max-width: 550px !important;
    }

    .grid-item {
        width: 100%;
        max-width: 1200px !important;
        padding: 12px;
    }
}

@media only screen and (max-width: 1250px) {
    .bento-box {
        gap: 0.6em;
        height: 550px;
        transform: scale(0.97);
    }

    .thread-filter {
        margin-left: 17px;
        padding-right: 20px;
    }

    .grid-header {
        flex-shrink: 0;
        max-width: 1100px !important;
        padding: 5px 10px !important;
    }

    .dropdown-content,
    .dropdown-content.open {
        max-width: 1100px !important;
    }

    .no-threads-message {
        max-width: 1100px !important;
    }

    .filter-button {
        padding: 10px 15px !important;
    }

    .listpage-btn {
        padding: 8px 12px !important;
    }

    .col-left {
        max-width: 775px !important;
    }

    .col-right {
        max-width: 450px !important;
    }

    .grid-item {
        width: 100%;
        max-width: 1100px !important;
        padding: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .bento-box {
        height: auto; 
        flex-direction: column;
        gap: 1em; 
        justify-content: center; 
        height: fit-content;
        margin-bottom: 0;
    }

    .limiter {
        margin-left: 20px;
    }

    .thread-filter {
        display: flex;
        justify-content: left;
        padding-left: 10px !important;
        padding-right: 10px !important;
        min-width: 100%;
        margin-left: 0px !important;
    }

    .grid-header {
        display: flex; 
        min-width: 100% !important;
        justify-content: flex-start; 
        align-items: flex-start; 
        margin-right: auto;
    }

    .col-left {
        max-width: 100% !important;
        height: 400px !important;
    }

    .col-right {
        max-width: 100% !important;
        flex-direction: row;
    }

    .col-row.top {
        height: 200px;
    }

    .col-row.bottom {
        width: 50%;
    }

    .threadvisted,
    .threadcreated {
        padding: 5px;
    }

    .threadvisted h1,
    .threadcreated h1 {
    padding-bottom: 4px;
    margin-top: -4px;
    font-size: 18px;
}

.threadcreated-content,
.threadvisted-content {
    width: 100%;
    gap: 4px;
    padding: 5px;
    border-radius: 8px;
}

.threadvisted-content p,
.threadcreated-content p {
    width: 100%;
    padding: 2px 5px;
    font-size: 12px;
}

.threadtrending-content {
    gap: 4px; 
    width: 100%;
    padding: 5px;
    border-radius: 8px;

}

.threadtrending-content p {
    font-size: 18px; 
    font-weight: 500;
    padding: 2px; 
    border-radius: 8px;
}

}




@media only screen and (max-width: 480px) {
    .Home {
        overflow-x: hidden !important;
    }
    .bento-box {
        height: auto; 
        flex-direction: column;
        gap: 1em; 
        justify-content: center; 
        align-items: center; 
        height: fit-content;
        margin-bottom: 0;
    }

    .grid-header {
        display: flex; 
        max-width: 480px !important;
        justify-content: flex-start; 
        align-items: flex-start; 
        margin-right: auto;
        gap: 2.5px !important;
        align-items: left !important;
    }

    .no-threads-message {
        max-width: 480px !important;
    }

    .limiter {
        margin-left: -20px;
        overflow-x: hidden !important;
    }

    .grid-header-title{
        display: none;
    }

    .thread-filter {
        display: flex;
        justify-content: left;
        padding-left: 60px !important;
        padding-right: 60px !important;
        min-width: 90% !important;
        margin-left: 0px !important;
    }

    .grid-header {
        display: flex; 
        min-width: calc(100%-20px) !important;
        justify-content: flex-start; 
        align-items: flex-start; 
        margin-right: auto;
    }

    .no-threads-message {
        min-width: 90% !important;
        padding-left: 60px !important;
        padding-right: 60px !important;
    }


    .col-left {
        max-width: 100% !important;
        height: 200px !important;
        flex-direction: row;
    }

    .col-right {
        max-width: 480px !important;
        width: 100%;
        height: 200px !important;
        flex-direction: row;
    }

    .col-right {
        max-width: 100% !important;
        flex-direction: row;
    }

    .col-row.top {
        height: 200px;
    }

    .col-row.bottom {
        width: 50%;
    }
}