@media only screen and (max-width: 480px) {
    .sidebar {
      display: none !important;
      overflow: hidden;
      padding: 0;
      transition: width 0.3s ease-in-out;
      height: 100vw;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.6);
    }
  
    .navigator.menu-open .sidebar {
      width: 170px !important; 
      display: flex !important;
    }
  
    .navigator.menu-open {
      margin-left: 160px !important;
    }
  
    .sidebar-link {
      padding-left: 5px !important;
      margin-left: 28px !important;
    }
  
    .navigator.menu-open .sidebar-link {
      padding-left: 10px !important;
    }
  
    .navigator.menu-open .sidebar-link svg {
      margin-right: 3px !important;
    }
  
    .nav-toggle {
      margin-left: -4px !important;
    }
  
    .sidebar-link:hover,
    .sidebar-link:hover svg,
    .sidebar-link:hover .icon-gear,
    .sidebar-link:hover .icon-home,
    .sidebar-link:hover .icon-pencil {
      animation: none !important;
      transform: none !important;
      background-color: inherit !important;
    }
  }
  