/* Container for the new thread page */
.NewThread {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-primary-a50) transparent;
  background-color: var(--alt-background-color);
  transition: height 0.3s ease;
  overflow-x: auto;
}

.NewThread.text-top {
  display: flex;
  width: 100%;
  color: var(--color-text-tertiary);
}

.rule-checkbox {
  padding-top: 15px;
}

.threadRules {
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-primary-a30);
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  margin-left: 20px;
  height: fit-content;
  width: 400px;
  order: 1; 
}

.threadRules h2 {
  font-size: 1.3em;
  color: var(--color-text-tertiary);
  font-weight: 600;
}

.threadRules p, b {
  font-size: 1em;
  color: var(--color-text-tertiary);
  margin-bottom: 15px;
  line-height: 1.6;
}

.threadRules ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 15px;
}

.threadRules li {
  font-size: 1em;
  color: var(--color-text-tertiary);
  line-height: 1.7;
}

.drowdown-arrow {
  color: var(--color-text-tertiary);
}
.drowdown {
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-top: 10px;
  border-bottom: 1px solid  var(--color-text-tertiary);
}

@media only screen and (max-width: 1200px) {
  .threadRules {
    width: 100%;
    margin-left: 0px;
    order: -1; 
  }

  .NewThread .center {
    order: 2 !important;
    max-width: 1200px;
  }
}

.NewThread::-webkit-scrollbar {
  width: 10px;
}

.NewThread::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-a50);
  border-radius: 5px;
}

.NewThread::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Centered content within the new thread container */
.NewThread .center {
  display: flex;
  justify-content: left;
  align-items: flex-start; 
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  flex-direction: column;
  border-radius: 12px;
  padding: 30px;
  gap: 10px;
  background-color: var(--clr-surface-a10);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  flex: 2 1 600px; 
  order: 0;
}

/* Focus state for the center container */
.NewThread .center:focus-within {
  border-color: var(--clr-primary-a50);
}

/* Fade-in animation */
@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Full width utility class */
.fill {
  min-width: 100%;
}

/* Input container styles */
.input-container {
  width: 100%;
  max-width: 100%;
  background-color: var(--clr-surface-a0);
  color: #e7e7e7FF;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--clr-surface-tonal-a50) ;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 12px;
  margin-bottom: 10px;
}

.input-container:focus {
  border-color: var(--clr-primary-a50);
  box-shadow: 0 0 8px rgba(var(--clr-primary-a50-rgb), 0.5);

}


.input-container::placeholder {
  color: white;
}

.input-container.text-box.ql-container {
  background-color: transparent !important;
}

.input-containers {
  border: 1px solid var(--clr-surface-tonal-a50);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-containers:focus {
  border-color: var(--clr-primary-a50);
  box-shadow: 0 0 8px rgba(var(--clr-primary-a50-rgb), 0.5);
}
/* Tag input container styles */
.tag-input-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: transparent !important;
  color: #e7e7e7FF;
  font-size: 1rem;
  box-sizing: border-box;
  opacity: 1;
  border-radius: 12px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: visible;
}

input #tag-input.tag-input-container {
  background-color: white !important;
  z-index: 1000;
  opacity: 1;
  border: 1px solid yellow;
}

/* Tag input focus state */
.tag-input-container:focus {
  border-color: var(--clr-primary-a50);
  box-shadow: 0 0 8px rgba(var(--clr-primary-a50-rgb), 0.5);
}

/* Tags container styles */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  border-radius: 16px;
  padding: 16px 20px;
  gap: 10px;
  min-width: 100%;
  min-height: 45px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

/* Individual tag styles */
.tag {
  background-color: var(--clr-surface-tonal-a50);
  padding: 10px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.95rem;
  color: var(--color-text-black);
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Tag hover and active states */
.tag:hover {
  background-color: var(--clr-primary-a50);
  transform: scale(1.03);
  color: white;
}

.tag:active {
  background-color: var(--clr-primary-a70);
  transform: scale(0.98);
}

/* Tag removal animation */
.tag.removing {
  animation: shrinkTag 0.3s forwards;
  transition: opacity 0.3s ease-out, color 0.3s ease-out;
}

@keyframes shrinkTag {
  from {
    transform: scale(1);
    opacity: 1;
    color: var(--color-text-black);
  }
  to {
    transform: scale(0);
    opacity: 0;
    color: rgba(51, 51, 51, 0);
  }
}

/* Label styles */
label h1 {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
  max-width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left !important;
  color: var(--clr-primary-a30);
}

/* Input container heading styles */
.NewThread .input-container h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--color-text-black);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

/* Input container paragraph styles */
.NewThread .input-container p {
  font-size: 0.9rem;
  color: white !important;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* Input container hover state */
.NewThread .input-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Input and tag input styles */
.NewThread #questionTitle,
.NewThread #tag-input {
  width: 100%;
  max-width: 100%;
  padding: 12px 16px; 
  border: none;
  font-size: 0.9rem; 
  color: white;
  background-color: var(--clr-surface-a50) !important;
  outline: none;
  transition: box-shadow 0.2s ease, border-bottom 0.4s ease-in-out;
}

.NewThread .text-box .ql-editor {
    width: 100%;
    height: 100%;
    font-size: 0.9rem; 
    color: white;
    padding: 10px; 
    box-sizing: border-box;
    resize: vertical;
    border: 1px dashed var(--clr-surface-tonal-a50) !important;
    border-radius: 12px !important;
}

.threadDir h1, 
.threadDir h2,
.threadTag h1{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    max-width: 100%;
    margin-top:  0;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left !important;
    color: var(--clr-primary-a30);
}

.threadDir h1::after,
.threadDir h2::after {
  content: "*";
  color: red;
  margin-left: 3px;
}



/* Text box styles */
.NewThread .text-box {
  width: 100%;
  max-width: 100%;
  height: fit-content !important;
  border: 1px solid var(--clr-surface-tonal-a50);
  /* padding: 20px; */
  transition: border-color 0.3s ease-in-out;
  background-color: var(--clr-surface-a0);
  border-radius: 12px;
}

.text {
  font-size: 16px;
}

.NewThread .text-box:focus-within {
  border-color: var(--clr-primary-a50);
}

.ql-toolbar.ql-snow .ql-stroke,
.ql-toolbar.ql-snow .ql-fill.ql-stroke {
  fill: none;
  stroke: var(--clr-primary-a50);
}

.ql-toolbar.ql-snow .ql-fill {
  fill: var(--clr-primary-a50);
  stroke: none;
}

.ql-toolbar.ql-snow .ql-picker {
  color: var(--clr-primary-a50);
}

.NewThread .ql-toolbar.ql-snow {
  background-color: var(--clr-primary-a10) !important;
  border: 0 !important;
  border-radius: 8px !important;
  margin-bottom: 12px !important;
}

.NewThread .ql-toolbar.ql-snow .ql-formats {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
}

.NewThread .ql-toolbar.ql-snow::placeholder {
  color: white !important;
}

.NewThread .ql-container.ql-snow {
  border: 0 !important;
  border-radius: 12px !important;
  color: white!important;
  height: 200px !important;
  background-color: var(--clr-surface-a50) !important;
}

.NewThread .ql-container.ql-snow .ql-editor {
  color: white !important;
}


/* Quill editor text box styles */
.NewThread .text-box .ql-editor {
  max-width: 100%;
  height: 100%;
  min-height: 200px;
  font-size: 1rem;
  color: white;
  padding: 12px;
  box-sizing: border-box;
  resize: none;
  border: 1px dashed var(--clr-surface-tonal-a50) !important;
  border-radius: 12px !important;
  position: relative;
  z-index: 1; 
}

/* Character counter styles */
.NewThread .charCounter {
  color: var(--clr-surface-tonal-a50);
  padding-top: 8px;
}

/* Load button styles */

.loadButton.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.loadButton button {
  background-color: var(--newThread-button);
  color: white;
  width: 100%;
  height: 52px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 0;
  box-sizing: border-box;
}

.loadButton button:hover {
  background-color: var(--newThread-button-hover);
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.loadButton.loading button {
  background-color: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.7;
}

.loadButton button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.7;
}

@media (max-width: 900px) { 
  .NewThread {
    flex-direction: column;
    padding: 7px;
  }
  .threadRules {
    width: 100%; 
    margin-left: 0; 
  }
  .NewThread .center {
    width: 100%; 
  }
}


@media (max-width: 530px){
  .NewThread .ql-toolbar.ql-snow {
    /* background-color: var(--clr-primary-a10) !important;
    border: 0 !important; */
    overflow-x: auto !important; 
    /* overflow-y: hidden !important; 
    white-space: nowrap; 
    height: 50px !important;
    display: flex !important;
    border-radius: 8px !important;
    margin-bottom: 12px !important; */
  }
  
  /* .NewThread .ql-toolbar.ql-snow  {
    display: inline-flex !important;
    flex-wrap: nowrap !important;
    overflow: visible !important;
    width: auto !important; 

} */
}

@media (max-width: 425px) { 
  .NewThread {
    flex-direction: column; 
  }

  .NewThread .center {
    padding: 10px;
  }

  .input-container {
    padding: 10px !important;
  }
  .threadRules {
    width: 100%; 
    margin-left: 0; 
    margin-bottom: 10px;
    order: -2;
  }


  .NewThread .text-box .ql-editor {
    min-width: fit-content !important;
  }


}